@model PAWUNED_EdgarArias_Proyecto2.Models.Oferta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Oferta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoOferta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoOferta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSubastaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSubastaNavigation.IdSubasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioCompradorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioCompradorNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOferta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
