@model IEnumerable<PAWUNED_EdgarArias_Proyecto2.Models.Oferta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MontoOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSubastaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioCompradorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MontoOferta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSubastaNavigation.IdSubasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioCompradorNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOferta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOferta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOferta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
