@model PAWUNED_EdgarArias_Proyecto2.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArtista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArtista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiografiaArtista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiografiaArtista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnlacePaginaArtista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnlacePaginaArtista)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
