@model PAWUNED_EdgarArias_Proyecto2.Models.Subasta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subasta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraCierre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraCierre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioGanadorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioGanadorNavigation.IdUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSubasta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
