@model IEnumerable<PAWUNED_EdgarArias_Proyecto2.Models.Subasta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdObra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioGanadorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdObra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioGanadorNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSubasta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSubasta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSubasta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
